<header class="header">
  <a href="/home" class="logo-container">
  <img src="assets/BasesIcon.png" alt="Logo School Bases" class="logo">
  <h1>Bases Project</h1>
</a>


  <nav class="nav-buttons">

    <div class="nav-item">
      <button class="btn-nav" (click)="accionUsuarios()">Usuarios</button>
    </div>

    
    <div class="nav-item">
      <button class="btn-nav" (click)="toggleSubMenu('perfil')">Gestión Roles</button>
      <div class="sub-menu" *ngIf="showPerfiles">
        
        <button (click)="accionPerfil('roles')">Roles</button>
      </div>
    </div>


    <div class="nav-item">
      <button class="btn-nav" (click)="accionReportes()">Reportes</button>
    </div>


    

    <div class="nav-item">
      <button class="btn-nav" (click)="accionSalir()">
        <i class="bi bi-box-arrow-right"></i> Salir
      </button>
    </div>

  </nav>
</header>

<body>
<div class="loading-indicator" *ngIf="isLoading" [style.--progress-width]="progressValue + '%'">
  <div class="loading-container">
    <div class="loading-message">Registrando</div>
  </div>
</div>
</body>

